# --- piston ---
# piston limits, in ms and bytes
# PISTON_RUN_TIMEOUT=3000
# PISTON_RUN_CPU_TIME=3000
# PISTON_COMPILE_TIMEOUT=20000
# PISTON_COMPILE_CPU_TIME=20000
# PISTON_RUN_MEMORY_LIMIT=512000000
# PISTON_COMPILE_MEMORY_LIMIT=1024000000
# PISTON_OUTPUT_MAX_SIZE=65536
# PISTON_MAX_CONCURRENT_JOBS=8
